.filter-body{
    background-color: #4267B2;
    padding: 1rem 0;
}
.filter-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin:0 auto ;
    padding:0.75rem 0;
    
   
}

.filter-container select,input {
    padding: 5px;
    font-size: 14px;
    
}
.search-input-wrapper {
    position: relative;
}

.search-input-wrapper input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 15px;
}

.search-input-wrapper i {
    position: absolute;
    left: 10px; /* Distance from the left edge of the input */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}
.filter-btn{
    padding: 0.5rem 1rem;
    background-color: #aaa;
    margin-left: 1rem;
}