<div class="filter-body">
<div class="filter-container">

    <div class="search-input-wrapper">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search...">
    </div>

    <!-- Experience Filter -->
    <select [(ngModel)]="selectedExperience" >
        <option value="">Select Experience</option>
        <option value="0-2">0-2 years</option>
        <option value="3-5">3-5 years</option>
        <option value="6-10">6-10 years</option>
        <option value="10+">10+ years</option>
    </select>

    <!-- Technology Filter -->
    <select [(ngModel)]="selectedTechnology" >
        <option value="">Select Technology</option>
        <option value="full-stack">Full Stack</option>
        <option value="power-bi">Power BI</option>
        <option value="data-engineering">Data Engineering</option>
        <option value="ui-ux">UI/UX</option>
    </select>

    <!-- Status Filter -->
    <select [(ngModel)]="selectedStatus">
        <option value="">Select Status</option>
        <option value="selected">Selected</option>
        <option value="rejected">Rejected</option>
        <option value="pending">Pending</option>
    </select>

    <button class="filter-btn">FILTER</button>
</div>
</div>